:root {
    --font-white: #fff;
}

.jumbotron {
    background-color: #E84756;
    color: var(--font-white);
    border-radius: 0;
}

.container {
    display: block;
    margin: 0 auto;
}

.team-area {
    display: flex;
    justify-content: center;
}

.employee-card {
    border: 0;
    box-shadow: 5px 5px 5px #848484;
    width: 296px;
    margin-bottom: 30px;
}

.card-header {
    background-color: #0077F7;
    color: var(--font-white);
}

.card-body {
    background-color: #F6F7F9;
}